@import './variables';
@import './typography';

@media (min-width: 280px) {
  #hero-section {
    height: 100vh;
    background-color: $black;
    position: relative;
    max-width: 100vw;
    padding: 2%;
  }
  .hero {
    &__container {
      position: relative;
      top: 10%;
      right: 0;
      display: flex;
      max-width: 88%;
      height: 80vh;
      margin: 0 auto;
      box-shadow: 15px 8px 18px -4px rgba(112, 112, 112, 0.151);
      background: url('../assets/images/encourline-DSYQJOH0GbU-unsplash.jpg')
        no-repeat;
      background-size: cover;
      background-position: center;

      &::after {
        content: '';
        position: absolute;
        background-color: $darkPurple;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        left: 0;
        top: 0;
      }
    }

    &__text--main {
      font-family: $serif;
      font-weight: 500;
      font-size: 22vw;
      color: $offWhite;
      margin-bottom: 3rem;
      text-align: center;
      text-shadow: 5px 9px 9px rgba(119, 119, 119, 0.3);
    }
    &__text--second {
      position: absolute;
      top: 32%;
      left: 5%;
      right: 5%;
      font-family: $serif;
      font-weight: 500;
      font-size: 12vw;
      text-align: center;
      color: $offWhite;
      z-index: 25;
      text-shadow: 5px 9px 9px rgba(119, 119, 119, 0.3);
      line-height: 101%;
    }
  }
  #glass {
    position: absolute;
    top: 11%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    z-index: 15;
    margin: 0 auto;
  }

  .mobile-only-list {
    position: absolute;
    bottom: 10%;
    right: 0;
    left: 0;
    max-width: 90%;
    margin: 0 auto;

    & ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      & li {
        color: $white;
        font-family: $sanSerif;
        font-weight: 400;
        font-size: $h3;
        margin-bottom: 2rem;
        text-shadow: 5px 9px 9px rgba(119, 119, 119, 0.3);
      }
    }
  }
  .hero__social {
    display: none;
  }
}

@media (min-width: 500px) {
  .hero {
    &__text--main {
      font-size: 18vw;
    }
    &__text--second {
      font-size: 9vw;
      top: 35%;
    }
  }
  #glass {
    top: 18%;
  }
}

@media (min-width: 769px) {
  .hero {
    &__container {
      position: relative;
      top: 14%;
      right: 4%;
      width: 70%;
      height: 60vh;
      margin: 0 0 0 auto;
    }

    &__text--main {
      font-size: 136px;
    }
    &__text--second {
      top: 58%;
      left: -30%;
      right: 0;
      font-size: $h1;
      margin: 0 auto;
    }
  }
  #glass {
    top: 22%;
    left: -12%;
    max-width: 604px;
    height: 23%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }
}

@media (min-width: 1024px) {
  .mobile-only-list {
    display: none;
  }
  .hero {
    &__container {
      align-items: flex-end;
      top: 16%;
      right: 12%;
      width: 60vw;
      height: 60vh;
    }

    &__text--main {
      font-size: 190px;
    }
    &__text--second {
      font-size: $h1;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 5% 3% 5%;
      line-height: 101%;
    }

    &__social {
      display: block;
      position: absolute;
      top: 50%;
      right: -215px;
      transform: rotate(-90deg);

      & ul {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & li {
        margin-left: 100px;
      }

      & a {
        color: $offWhite;
        font-size: $h4;
        font-family: $sanSerif;
        font-weight: 400;
        text-shadow: 5px 9px 9px rgba(119, 119, 119, 0.5);
      }
    }
  }
  #glass {
    top: 32%;
    left: 4%;
    max-width: 900px;
    height: 23%;

    margin: 0 auto 0 0;
  }
}

@media (min-width: 2560px) {
  .hero {
    &__social {
      right: -150px;
    }
  }
}
// .background-slider {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
//   background: rgb(140, 80, 170);
//   background: linear-gradient(
//     90deg,
//     rgba(140, 80, 170, 1) 0%,
//     rgba(64, 4, 94, 1) 40%,
//     rgba(27, 1, 40, 1) 100%
//   );
//   z-index: -1;
// }
