@import './variables';
@import './typography';

@media only screen and (min-width: 280px) {
  #hero-section {
    background-color: $black;
    max-height: calc(100vh - 68px);
  }
  .hero {
    height: 91vh;
    display: flex;
    flex-direction: column;

    &__containerTop {
      position: relative;
    }

    &__container--1 {
      position: absolute;
      top: 15px;
      left: 2%;
      z-index: 1;
    }
    &__container--2 {
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      background: url('../assets/images/encourline-DSYQJOH0GbU-unsplash.jpg')
        no-repeat;
      background-size: cover;
      background-position: center;
      box-shadow: 15px 8px 18px -4px rgba(112, 112, 112, 0.151);

      height: 75vh;
      // height: 0;
      top: 15px;
      margin: 0 10px;

      &::before {
        content: '';
        opacity: 0.5;
        position: absolute;
        background-color: $darkPurple;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
    &__text--main {
      color: $offWhite;
      font-family: $serif;
      font-size: 88px;
      font-weight: 500;
      text-align: center;
      text-shadow: 5px 9px 9px rgba(119, 119, 119, 0.3);
      width: 90%;
      margin: 0 auto;
    }
    &__text--second {
      color: $offWhite;
      font-family: $serif;
      font-size: $h3;
      font-weight: 500;
      text-align: center;
      z-index: 1;
      text-shadow: 5px 9px 9px rgba(119, 119, 119, 0.3);
      width: 90%;
      margin: 0 auto;
      line-height: 150%;
    }

    &__social {
      display: none;
      &--links {
        font-family: $sanSerif;
      }
      &--link {
        color: $offWhite;
      }
      &--anchor {
        color: $offWhite;
      }
    }

    &__adv {
      font-family: $sanSerif;
      position: relative;
      // bottom: 135px;
      bottom: 17%;
      z-index: 10;
      width: 90%;
      margin: 0 auto;

      &--link {
        color: $offWhite;
        font-family: $sanSerif;
        font-weight: 400;
        font-size: $h4;
        text-align: center;
        text-shadow: 5px 9px 9px rgba(119, 119, 119, 0.3);
        line-height: 150%;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .hero {
    &__container--1 {
      left: 15%;
    }
    &__container--2 {
      padding: 160px 0;
      margin: 0 20px;
    }
    &__text--main {
      font-size: 96px;
    }
    &__text--second {
      font-size: $h2;
    }
    &__adv {
      // bottom: 120px;
      bottom: 17%;
    }
  }
}

@media only screen and (min-width: 768px) {
  #hero-section {
    max-height: calc(100vh - 78px);
  }
  .hero {
    // height: 88vh;
    height: 76vh;
    &__containerTop {
      display: flex;
      flex-direction: row;
      margin: 0 0 8% 0;
    }
    &__container--1 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 30px;
      backdrop-filter: blur(10px);
      border: solid 2px transparent;
      background-clip: padding-box;
      box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);

      top: 8%;
      left: 0;
      padding: 20px 50px;
    }
    &__container--2 {
      padding: 0;
      margin: 20px 4% 0 12%;
      height: 66vh;
    }
    &__text--main {
      font-size: 124px;
      width: 100%;
    }
    &__text--second {
      padding: 0px 10%;
    }
    &__adv {
      bottom: 27%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    height: 100vh;
    &__containerTop {
      margin: 30px 0 30px 0;
    }
    &__container--1 {
      top: 20%;
      left: 5%;
    }
    &__container--2 {
      padding: 290px 0 50px 0;
      margin: 0px 8% 0 32%;
      height: 50vh;
    }
    &__text--second {
      padding: 0 5%;
    }
    &__social {
      display: block;
      transform: rotate(-90deg);
      position: absolute;
      top: 50%;
      right: -100px;

      &--links {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &--link {
        margin-right: 50px;
      }
      &--anchor {
        font-size: $h4;
      }
    }
    &__adv {
      position: absolute;
      bottom: 3%;
      left: 0;
      width: 100%;
      padding: 0 5%;
      margin: 0;

      &--links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  #hero-section {
    height: calc(100vh - 144px);
  }
  .hero {
    height: 100vh;
    &__container--2 {
      padding: 300px 0 0 0;
      height: 60vh;
    }
    &__text--main {
      font-size: 170px;
    }
    &__social {
      top: 40%;
      right: -100px;

      &--anchor {
        font-size: $h3;
      }
    }
    &__adv {
      padding: 0 6%;

      &--link {
        font-size: $h3;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .hero {
    height: 100vh;
    &__container--2 {
      margin: 0 0 0 28%;
    }
    &__text--main {
      font-size: 190px;
    }
    &__text--second {
      padding: 0 12%;
      font-size: $h1;
    }
  }
}

@media only screen and (min-width: 2560px) {
  .hero {
    height: 100vh;
  }
}
