@media (min-width: 280px) {
  header {
    position: relative;
  }
  .logo {
    font-size: 4rem;
    z-index: 10;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 3vh 4vw;
    color: $offWhite;
    // font-weight: 500;
  }
  .toggle-btn {
    position: fixed;
    padding: 3vh 4vw;
    width: 40px;
    height: 12px;
    top: 20px;
    right: 50px;
    z-index: 5;
    cursor: pointer;
  }

  span.one {
    position: absolute;
    width: 40px;
    height: 2px;
    background: $offWhite;
  }
  span.two {
    position: absolute;
    width: 40px;
    height: 2px;
    background: $offWhite;
    margin-top: 12px;
  }

  .navbar {
    z-index: 2;
    position: absolute;
    background: none;
    height: 0;
    width: 100%;
    top: -100%;
    padding: 12.8rem 0 0 3.2rem;
    text-align: left;
    display: none;

    &__links {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    &__link {
      font-size: 4.2rem;
      margin-bottom: 3rem;
      opacity: 0;
    }
    a {
      color: $offWhite;
    }
  }
}

// @media (min-width: 426px) and (max-width: 768px) {}

@media (min-width: 768px) {
  .logo {
    font-size: 5rem;
    padding: 5.55vh 4vw;
  }

  .toggle-btn {
    padding: 3vh 4vw;
    top: 50px;
    right: 50px;
  }

  .navbar {
    &__links {
      align-items: center;
    }
    &__link {
      font-size: 4.2rem;
      margin-bottom: 3rem;
      opacity: 0;

      a {
        color: $offWhite;
      }
    }
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: 5rem;
    padding: 5.55vh 4vw;
  }
  .toggle-btn {
    display: none;
  }
  .linkedInLink {
    position: fixed;
    padding: 3vh 4vw;
    top: 24px;
    right: 10px;
    z-index: 5;
    cursor: pointer;
    font-size: 6rem;
  }

  .navbar {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 8.3%;
    padding: 0;
    display: inline-block;
    opacity: 1;

    &__links {
      display: flex;
      // justify-content: flex-end;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 80%;
      margin: 0 auto;
    }

    &__link {
      font-size: 3.2rem;
      opacity: 1;
      margin-bottom: 0;
      // padding-left: 5rem;
      padding: 0 2.5rem;

      a {
        color: $offWhite;
        opacity: 1;
      }
    }
  }
}
