@import './variables';

@media (min-width: 280px) {
  header {
    // position: relative;
    background-color: #23082e;
  }
  .logo {
    font-family: $serif;
    font-weight: 500;
    font-size: $h2;
    z-index: 600;
    position: absolute;
    top: 20px;
    left: 25px;
    color: $offWhite;
    text-shadow: 5px 9px 9px rgba(204, 204, 204, 0.3);
    display: block;
  }
  .toggle-btn {
    position: absolute;
    top: 40px;
    right: 25px;
    width: 40px;
    height: 12px;
    z-index: 600;
    cursor: pointer;
    color: $offWhite;
  }

  span.one {
    position: absolute;
    width: 40px;
    height: 2px;
    background: $offWhite;
  }
  span.two {
    position: absolute;
    width: 40px;
    height: 2px;
    background: $offWhite;
    margin-top: 12px;
  }

  .navbar {
    z-index: 400;
    position: absolute;
    background: none;
    height: 0;
    width: 100%;
    top: -100%;
    padding: 12.8rem 0 0 3.2rem;
    text-align: left;
    display: none;

    &__links {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    &__link {
      font-family: $sanSerif;
      font-weight: 400;
      font-size: $h2;
      margin-bottom: 3rem;
      opacity: 0;
    }
    a {
      font-family: $sanSerif;
      font-weight: 400;
      color: $offWhite;
      // opacity: 1;
      text-shadow: 5px 9px 9px rgba(204, 204, 204, 0.3);
    }
  }
}

@media (min-width: 768px) {
  .logo {
    font-size: $h2;
    top: 20px;
    left: 60px;
  }

  .toggle-btn {
    top: 35px;
    right: 60px;
  }

  .navbar {
    padding: 20rem 0 0 0;

    &__links {
      align-items: center;
    }
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: $h2;
    top: 50px;
    left: 70px;
  }
  .toggle-btn {
    top: 50px;
    right: 70px;
  }
  .navbar {
    &__link {
      margin-bottom: 4rem;
    }
  }
}
