@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display:wght@400;500&display=swap');

// Font
$base-font-size: 1.6rem; // 16px

$h1: 64px;
$h2: 48px;
$h3: 32px;
$h4: 24px;
$h5: 18px;
$h6: 16px;

$black: #09000d;
$purpleBlack: #2e0343;
$white: #fbf6f0;
$offWhite: #efe6f3;
$darkPurple: #370350;
$purple: #5b0586;
$lightPurple: #bd9bcf;

$sanSerif: 'Montserrat', 'Arial', sans-serif;
$serif: 'Playfair Display', 'Times New Roman', serif;
